:root {
  --line-border-fill: #0a58ca;
  --line-boder-empty:gainsboro;;
}
*{
  box-sizing: border-box;
}
body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
}
.container{
  text-align: center;
}
.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;

}
.progress-container::before{
  content: " ";
  background-color:white;
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.progress{
  background-color: var(--line-border-fill);
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0;
  z-index: -1;
  transition:.4s ease-in;
}

.cricle{
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-boder-empty);
  transition: .4s ease;
}
.cricle.active{
  border-color:var(--line-border-fill);
}

.btn{
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 10px;
  margin:5px;
  font-size: 14px;
}

.btn:active{
  transform: scale(0.98);
}
.btn:focus{
  outline: 0;
}
.btn:disabled{
  background-color: var(--line-boder-empty);
  cursor:not-allowed;
}
